﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - MU Class Scheduler</title>
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    

    <!-- Bootstrap -->
    <link href="/W3/gentella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/W3/gentella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/W3/gentella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/W3/gentella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/W3/gentella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/W3/gentella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/W3/gentella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/W3/gentella/build/css/custom.min.css" rel="stylesheet">

</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">



            @if (User.IsInRole("Admin"))
            {
                //Here you can write anything you want to show.
                @Html.Partial("_AdminMenu")
            }
            @if (User.IsInRole("DepartmentHead"))
            {
                //Here you can write anything you want to show.
                @Html.Partial("_DepartmentHeadMenu")
            }
            @if (User.IsInRole("Instructors"))
            {
                //Here you can write anything you want to show.
                @Html.Partial("_InstructorsMenu")
            }@if (User.IsInRole("Students"))
            {
                //Here you can write anything you want to show.
                @Html.Partial("_StudentsMenu")
            }

            <div class="right_col " role="main" style="height:100%;">
                @RenderBody()
                
            </div>
            <footer >
                <div class="pull-right">
                    &copy; @DateTime.Now.Year - Mu Class Scheduler
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
        
    </div>
    
    <script src="/W3/gentella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/W3/gentella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/W3/gentella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/W3/gentella/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/W3/gentella/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/W3/gentella/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/W3/gentella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/W3/gentella/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/W3/gentella/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/W3/gentella/vendors/Flot/jquery.flot.js"></script>
    <script src="/W3/gentella/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/W3/gentella/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/W3/gentella/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/W3/gentella/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/W3/gentella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/W3/gentella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/W3/gentella/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/W3/gentella/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/W3/gentella/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/W3/gentella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/W3/gentella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/W3/gentella/vendors/moment/min/moment.min.js"></script>
    <script src="/W3/gentella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/W3/gentella/build/js/custom.min.js"></script>

    @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
</body>
</html>
