﻿<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/Home/Index" class="site_title"><i class="fa fa-calendar"></i> <span>Scheduler</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic" style="height:60px;">
                <img width="200" src="/W3/gentella/production/images/logo3.png">
            </div>

        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/Home/Index">Dashboard</a></li>

                        </ul>


                    <li>
                        <a><i class="fa fa-calendar"></i> Schedules<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/Schedules/DepartmentsList">TimeTables</a></li>
                        </ul>
                    </li>

                </ul>
            </div>


        </div>
        <!-- /sidebar menu -->


    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                @Html.Partial("_LoginPartial")

            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
<!-- page content -->
<!-- /page content -->
<!-- footer content -->
<!-- /footer content -->
