﻿@model ClassScheduler.Models.LoginViewModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mekelle University Class Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Flat Modern Sign In Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/w3/flatmodern/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="/w3/flatmodern/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //web font -->
    <!-- jS -->
    <script src="/w3/flatmodern/js/jquery.min.js"></script>
    <script src="/w3/flatmodern/js/script.js"></script>
    <!-- //js -->
</head>
<body>
    <!-- main -->
    <div class="main-agile">
        <h1> MU Class Scheduler Sign In</h1>
        <div id="w3ls_form" class="signin-form">
            <!-- Sign In Form -->
            @using (Html.BeginForm("FlatLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "signin" }))
            {
                @Html.AntiForgeryToken()
                <h2>Sign In Form</h2>
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @required = "required" })
                @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @required = "required" })
                @*@Html.CheckBoxFor(m => m.RememberMe, new { @id = "brand" })*@
                <input data-val="true" id="brand" name="RememberMe" type="checkbox" value="true">
                <label for="brand"><span></span> Remember me ?</label>
                <input type="submit" value="SIGN IN">
                <div class="signin-agileits-bottom">
                    <p><a href="#">Forgot Password ?</a></p>
                </div>
                
            }
            <!-- //Sign In Form -->
            <!-- Sign up Form-->
            <form id="signup" action="#" method="post">
                <div class="ribbon"><a href="#" id="flipToRecover1" class="flipLink" title="Click Here to signin">Sign In</a></div>
                <h3>Sign Up Form</h3>
                <input type="text" name="User Name" placeholder="User Name" required="" />
                <input type="text" name="Email" placeholder="Your Email" required="" />
                <input type="password" name="Password" placeholder="Password" required="" />
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>I accept the terms of use</label>
                <input type="submit" value="SIGN UP">
            </form>
            <!-- Sign up Form-->
        </div>
        <!-- copyright -->
        
        <!-- //copyright -->
    </div>
    <!-- //main -->
</body>
</html>
