﻿@using ClassScheduler.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mu Class Scheduler</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/w3/matrix/csscss/bootstrap.min.css" />
    <link rel="stylesheet" href="/w3/matrix/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/w3/matrix/css/matrix-login.css" />
    <link href="/w3/matrix/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="loginbox">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "loginform", @class = "form-vertical" }))
        {
            @Html.AntiForgeryToken()

            <div class="control-group normal_text"> <h3><img style="margin-left:0px;" height="85" src="/w3/matrix/img/logo2.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span> @Html.TextBoxFor(m => m.Email, new { @placeholder = "  Email", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span> @Html.TextBoxFor(m => m.Password, new { @placeholder = "  Password", @required = "required", type = "password" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span style="margin-left:150px; " class="btn btn-success">
                    <input style=" height:30px; width:100px;" type="submit" value="Login" />
                </span>
            </div>

        }

        <p >© 2019 Mekelle University. All Rights Reserved  </p>

    </div>


    <script src="/w3/matrix/js/jquery.min.js"></script>
    <script src="/w3/matrix/js/matrix.login.js"></script>
</body>

</html>
