﻿@model IEnumerable<ClassScheduler.Models.Rooms>

@{
    ViewBag.Title = "Index";
}

<h2>Rooms</h2>

<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Create New Room", "Create") </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endtime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endtime)
        </td>
        <td>
            <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) | </button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Details", "Details", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
</td>
    </tr>
}

</table>
