﻿@model ClassScheduler.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Course Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prerequist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prerequist)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |</button>
    <button class="btn btn-outline-warning">@Html.ActionLink("Back to List", "Index") </button>
</p>
