﻿@model IEnumerable<ClassScheduler.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    <button class="btn btn-outline-warning"> @Html.ActionLink("Create New Course", "Create") </button>
</p>
<table class="table " id="Course" >
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Batch
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHour)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.prerequist)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batches.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditHour)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.prerequist)
        </td>*@
        <td>
            <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Details", "Details", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Delete", "Delete", new { id = item.Id }) </button>
</td>
    </tr>
}

</table>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#Course").DataTable();
        });
    </script>

    }