﻿@model ClassScheduler.ViewModels.CreateBatchViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Batch Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Batches.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batches.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Batches.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batches.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batches.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batches.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batches.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batches.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batches.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batches.Section)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Batches.Id }) |</button>
        <button class="btn btn-outline-warning"> @Html.ActionLink("Back to List", "Index") </button>
</p>
