﻿@model IEnumerable<ClassScheduler.Models.Batches>

@{
    ViewBag.Title = "Index";
}

<h2>Batches</h2>

<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Create New Batch", "Create") </button>
</p>
<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Department.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Details", "Details", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
</td>
    </tr>
}

</table>
