﻿@{
    ViewBag.Title = "Batches";
}

<h2>Batches</h2>
<table class="table">
    <tr>
        <th>
            Department Name
        </th>
        <th>
           Batch Name
        </th>
        <th>
            Year
        </th>
        <th>
            Semester
        </th>
        <th>
           Section
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.batches)
    {
        <tr>
            <td>
                @item.Department.Name
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @item.Semester
            </td>
            <td>
                @item.Section
            </td>
            <td>
                @Html.ActionLink("TimeTable", "Timetable", new { id = item.Id }) |
                
            </td>
        </tr>
    }

</table>
