﻿@model IEnumerable<ClassScheduler.Models.Department>

@{
    ViewBag.Title = "DepartmentsList";
}

<h2>DepartmentsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Batches", "BatchesList", new { id=item.Id }) 
            
        </td>
    </tr>
}

</table>
