﻿
@{
    ViewBag.Title = "Timetable";
}

<h2>Timetable</h2>

<table class="table table-responsive table-hover" >
    <tr >
        <th>
            Weekday
        </th>

        <th>
            2:30 - 3:30
        </th>
        <th>
            3:30 - 4:30
        </th>
        <th>
            4:30 - 5:30
        </th>
        <th>
            5:30 - 6:30
        </th>
        <th>
            8:30 - 9:30
        </th>
        <th>
            9:30 - 10:30
        </th>
        <th>
            10:30 - 11:30
        </th>
    </tr>

    <tr>
        <td>
            Monday
        </td>
        @{ 
            int count = 0;

        }

        @foreach (var schedule in ViewBag.Monday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - count;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - count;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - count;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - count;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - count;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }

            }
            if (startTime == 10)
            {
                var len = 6 - count;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    count = count + 1;

                }

            }
        }














    </tr>
    <tr>
        <td>
            Tuesday
        </td>
        @{
            int countT = 0;

        }

        @foreach (var schedule in ViewBag.Tuesday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - countT;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - countT;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - countT;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - countT;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - countT;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;
                }

            }
            if (startTime == 10)
            {
                var len = 6 - countT;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countT = countT + 1;
                }

            }
        }


    </tr>
    <tr>
        <td>
            Wednesday
        </td>
        @{
            int countW = 0;

        }

        @foreach (var schedule in ViewBag.Wednesday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - countW;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - countW;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - countW;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - countW;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - countW;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;
                }

            }
            if (startTime == 10)
            {
                var len = 6 - countW;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countW = countW + 1;
                }

            }
        }


    </tr>
    <tr>
        <td>
            Thursday
        </td>
        @{
            int countH = 0;

        }

        @foreach (var schedule in ViewBag.Thursday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - countH;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - countH;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - countH;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - countH;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - countH;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;
                }

            }
            if (startTime == 10)
            {
                var len = 6 - countH;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countH = countH + 1;
                }

            }
        }


    </tr>
    <tr>
        <td>
            Friday
        </td>
        @{
            int countF = 0;

        }

        @foreach (var schedule in ViewBag.Friday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - countF;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - countF;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - countF;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - countF;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - countF;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;
                }

            }
            if (startTime == 10)
            {
                var len = 6 - countF;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countF = countF + 1;
                }

            }
        }

    </tr>
    <tr>
        <td>
            Saturday
        </td>
        @{
            int countS = 0;

        }

        @foreach (var schedule in ViewBag.Saturday)

        {
            var span = schedule.EndTime.Hour - schedule.StartTime.Hour;

            var startTime = schedule.StartTime.Hour;





            if (startTime == 2)
            {
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;
                }


            }

            if (startTime == 3)
            {
                var len = 1 - countS;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;

                }

            }

            if (startTime == 4)
            {
                var len = 2 - countS;

                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;

                }


            }
            if (startTime == 5)
            {
                var len = 3 - countS;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }

                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;

                }

            }
            if (startTime == 8)
            {
                var len = 4 - countS;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;

                }


            }
            if (startTime == 9)
            {
                var len = 5 - countS;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;
                }

            }
            if (startTime == 10)
            {
                var len = 6 - countS;
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var l = len; l >= 1; l--)
                {
                    <td colspan="1"></td>
                }
                for (var i = span; i >= 1; i--)
                {
                    <td colspan="1">
                        @schedule.Course.Name
                        <br />
                        @schedule.Rooms.Name
                    </td>

                    countS = countS + 1;
                }

            }
        }

    </tr>

</table>
