﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1></h1>

</div>
<div >
    <h1></h1>

</div>
 
<div class="row form-group">
    <div class="col-md-3">

        <p>
            <img src="~/Content/Images/Departments.jpg" />
        </p>
        <p><a class="btn btn-success" href="/Departments/Index">Manage departments</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Courses.png" />

        </p>
        <p><a class="btn btn-success" href="/Courses/Index">Manage courses</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Room.png" width="161" height="174" />

        </p>
        <p><a class="btn btn-success " href="/Rooms/Index">Manage Class Rooms</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Schedule.jpg" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Schedules/DepartmentsList">View Time Table  </a></p>
    </div>
    
</div>

<div class="row form-group">
    <div class="col-md-3">

        <p>
            <img src="~/Content/Images/Batches.png" width="161" height="174" />
        </p>
        <p><a class="btn btn-success" href="/Batches/Index">Manage Batches</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/TimeTable.png" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Schedules/Index">Manage Class Schedules</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/user.jpg" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Account/Register">Register Users  </a></p>
    </div>

    <div class="col-md-3">

        <p>
            <img src="~/Content/Images/Roles.jpeg" width="161" height="174" />
        </p>
        <p><a class="btn btn-success" href="/Role/Index">Manage Roles</a></p>
    </div>
</div>
