﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1></h1>

</div>
<div >
    <h1></h1>

</div>
 
<div class="row">

    <div class="col-md-3">

        <p>
            <img src="~/Content/Images/Courses.png" />

        </p>
        <p><a class="btn btn-success" href="/Courses/Index">Manage courses</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Room.png" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Rooms/Index">Manage Rooms</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Batches.png" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Batches/Index">Manage Batches</a></p>
    </div>
    <div class="col-md-3">
        <p>
            <img src="~/Content/Images/Schedule.jpg" width="161" height="174" />

        </p>
        <p><a class="btn btn-success" href="/Schedules/DepartmentsList">View Time Table  </a></p>
    </div>
</div>