﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1></h1>

</div>
<div>
    <h1></h1>

</div>

<div class="row">
        <div class="col-md-3">
            <p>
                <img src="~/Content/Images/Schedule.jpg" width="161" height="174" />

            </p>
            <p><a class="btn btn-success" href="/Schedules/DepartmentsList">View Time Table  </a></p>
        </div>
    </div>