﻿@model IEnumerable<ClassScheduler.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<p>
    <a class="btn btn-outline-warning" href="/Departments/Create">Create Departments</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</button>

            <button class="btn btn-outline-warning">@Html.ActionLink("Details", "Details", new { id = item.Id }) |</button>
            <button class="btn btn-outline-warning">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
        </td>
    </tr>
}

</table>
