﻿@model ClassScheduler.Models.RoleViewModel

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this Role?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            <button class="btn btn-outline-warning"> @Html.ActionLink("Back to List", "Index") </button>
</div>
    }
</div>
