﻿@model ClassScheduler.Models.RoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Role Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |</button>
    <button class="btn btn-outline-warning">@Html.ActionLink("Back to List", "Index") </button>
</p>
